$bgcolor1: rgb(231, 238, 231);
$bgcolor2: rgb(9, 9, 155);

.content-box button {
  background-color: $bgcolor2;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 16px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.content-box {
  background-color: $bgcolor1;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  margin-bottom: 16px;
}
